.container-fluid{
  background: #fcfcfc;
  box-shadow: 0px 5px 2px #9d9d9d;
  padding-top: 20px;
}
.headerText{
  padding-bottom: 15px;
}
.who, .educationHeader, .experHeader, .hobbiesHeader{
  padding-top: 40px;
  display: block;
}
.who .img-responsive, .educationHeader .img-responsive,.experHeader .img-responsive, .hobbiesHeader .img-responsive{
  margin: 0 auto;
}

.explanation {
  font-family: 'Poiret One', cursive;
  font-style: italic;
  font-size: 30px;
  padding-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.experienced, .education, .hobbies{
  position: relative;
  padding-top: 1%;

}
h2{
  position: absolute;
  padding-left: 20px;
}
h2 span{
  color: white;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}
.place{
  padding-left: 50px;
}
.third  {
  padding-top: 160px;
  margin: 0 auto;
}
